:root {
  --headingFont: "PT Sans", sans-serif;
  --paragraphFont: "Open Sans", sans-serif;
  --first: #784d3c;
  --gray: #e1e1e1;
  --white: #ffffff;
  --black: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--paragraphFont);
  font-size: 16px;
  line-height: 2;
}

/* GLOBALES */

.container {
  /*max-width: 120rem;
  width: 90%;*/
  width: min(
    90%,
    120rem
  ); /* Es lo mismo que las dos líeas de arriba, selecciona el valor más pequeño entre 90% y 120rem */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headingFont);
  line-height: 3.5rem;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

/* UTILIDADES */

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.round-corners {
  border-radius: 1rem;
}

/* HEADER */

/* Si el navegador soporta webp, se usa este selector */
.webp .header {
  background-image: url(../img/banner.webp);
}

/* Si el navegador no soporta webp, se usa este selector */
.no-webp .header {
  background-image: url(../img/banner.jpg);
}

.header {
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;

  /* Si hacemos la pantalla más chica, esta propiedad nos dice qué parte de la imagen queremos seguir viendo. El primer valor es para el eje x y el segundo para el eje y */
  background-position: center center;
}

.header__text {
  text-align: center;
  color: var(--white);
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .header__text {
    margin-top: 14rem;
  }
}

.bar {
  padding-top: 5rem;
}

@media (min-width: 768px) {
  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  color: var(--white);
}

.logo__name {
  font-weight: normal;
}

.logo__name span {
  font-weight: bold;
}

.nav {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    column-gap: 2rem;
  }
}

.nav a {
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: var(--white);
}

.nav a:hover {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}

.post {
  /* Dibujando una línea debajo de cada entrada */
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .post:last-of-type {
    /* La última entrada no necesita esa línea, se la quitamos */
    border-bottom: none;
    margin-bottom: 0;
  }
}

.button {
  display: block;
  font-family: var(--headingFont);
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.button:hover {
  padding: 1.1rem 3.3rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button {
    /* Es como un elemento inline con algunas características de block. Aquí lo usamos para que respete el margin-bottom */
    display: inline-block;
  }
}

.button--main {
  background-color: var(--black);
}

.button--second {
  background-color: var(--first);
}

.courses {
  list-style: none;
}

.widget-course {
  border-bottom: 1px solid var(--gray);
  margin-bottom: 2rem;
}

.widget-course:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 2rem;
}

.widget-course p,
.course p {
  font-family: var(--headingFont);
  font-weight: 700;
  font-size: 2rem;
}

.widget-course p span,
.course p span {
  font-weight: 400;
}

.footer {
  background-color: var(--black);
  padding-bottom: 5rem;
  margin-top: 4rem;
}

/* ABOUT US */

@media (min-width: 768px) {
  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

/* COURSES */

.course {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gray);
}

@media (min-width: 768px) {
  .course {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

.course:last-of-type {
  border-bottom: none;
}

.course__description {
  margin-bottom: 0;
}

/* CONTACT */

.contact-bg {
  background-image: url(../img/contacto.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  background-color: var(--white);
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem 5rem 0 5rem;
}

.field {
  display: flex;
  margin-bottom: 2rem;
}

.field label {
  flex: 0 0 9rem;
  text-align: right;
  padding-right: 2rem;
}

.field input,
.field textarea {
  /* Por cada pixel que reciba input, label recibe 0. Con esto logramos que input tome todo el espacio sobrante */
  flex: 1;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  /*padding-left: 1rem;*/
}

.button--contact:hover {
  padding: 1.1rem 3.3rem 1.1rem 3rem;
}

@media (max-width: 768px) {
  .field {
    flex-direction: column;
  }

  .field label {
    flex: 0 0 3rem;
    text-align: left;
  }
}
